---
const res = await fetch('https://api.artic.edu/api/v1/artworks/search?q=cat&limit=9&page=10&fields=id,title,image_id,color')
const artworksData = await res.json()
const imageBase = 'https://www.artic.edu/iiif/2'
const imageEnd = '/full/843,/0/default.jpg'
---


<html>
	<head>
		<title>Cat art</title>
	</head>
	<body>
		<h1>
			Add cat art here
		</h1>
	</body>
</html>